@import '../../styles/abstracts.scss';

.categories {
  width: 30%;
  align-self: flex-start;
  margin-top: 1rem;
  margin-left: 4rem;

  @include respond(tab-port-large) {
    width: 90%;
    align-self: center;
    margin-left: 0;
  }

  h2 {
    margin-bottom: 2rem;
  }

  ul {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    column-gap: 3.5rem;
    row-gap: 2rem;
    list-style: none;
  }
}
