@import '../../styles/abstracts.scss';

.taskbar {
  align-self: flex-start;
  margin-top: 7rem;
  margin-left: 6.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: max-content auto;
  row-gap: 2rem;
  align-items: center;

  @include respond(laptop) {
    width: fit-content;
    margin-left: 4rem;
    margin-top: 6.5rem;
  }
  @include respond(laptop) {
    margin-top: 5.5rem;
  }
  @include respond(tab-port-large) {
    align-self: center;
    margin-left: 0;
  }
  @include respond(phone-small) {
    width: 100%;
  }

  h2 {
    font-size: 2.4rem;
    width: fit-content;
  }

  ul {
    grid-column: 1 / -1;
    list-style: none;
    display: grid;
    row-gap: 1rem;
  }
}
