.pie {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.legend {
  list-style: none;

  li {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  div {
    width: 2rem;
    height: 2rem;
  }
}
