.main-flex-column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .greeting {
    margin-bottom: 2rem;
    @include respond(phone-v-small) {
      text-align: center;
    }
  }
}
