@import '../../styles/abstracts.scss';

.account-section {
  //   min-height: 40vh;
  padding: 4rem 5rem;
  width: 100%;
  height: fit-content;

  @include respond(phone-small) {
    padding: 3rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

.form {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  row-gap: 2rem;

  &__group {
    display: grid;
    row-gap: 0.7rem;

    label {
      @include label-styles;
      font-size: 1.6rem;

      @include respond(tab-land-small) {
        font-size: 1.2rem;
      }
      @include respond(phone-small) {
        font-size: 1.4rem;
        align-self: center;
      }
    }
    input {
      width: 100%;

      @include input-styles;
      border: 2px solid var(--color-grey-3);
      background-color: var(--color-grey-2);
      padding: 1rem;
      color: var(--color-text-primary);
      font-size: 1.6rem;
    }
  }
  &__photo-upload {
    display: flex;
    margin-top: 1rem;
    align-items: center;

    @include respond(tab-land-small) {
      margin-top: 0.5rem;
    }
    @include respond(tab-port-large) {
      margin-bottom: -2rem;
    }
    @include respond(phone-small) {
      margin-bottom: -1rem;
    }

    img {
      height: 6.5rem;
      width: 6.5rem;
      border-radius: 50%;
      margin-right: 3rem;

      @include respond(phone-small) {
        margin-right: 2rem;
      }
    }
    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    label {
      border-bottom: 1px solid var(--color-primary-shade-2);
      color: var(--color-primary-shade-2);
      cursor: pointer;
      margin-left: 1rem;
    }
  }
  button {
    padding: 1.5rem 2.5rem;
    margin-top: 2rem;
    font-size: 1.6rem;
    align-self: end;
    justify-self: end;

    @include respond(tab-port-large) {
      margin-top: 1rem;
    }
  }
}
