.login {
  position: absolute;
  top: -1rem;
  right: 3rem;
  width: 50rem;
  height: 60rem;
  background-color: var(--color-white);

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  h2 {
    width: fit-content;
  }
}
