@import '../../styles/abstracts.scss';

.manual {
  grid-column: 2 / 3;

  @include respond(tab-port-large) {
    grid-column: 1 / 2;
    width: 90%;
    justify-self: center;
  }
  @include respond(tab-port) {
    width: 100%;
  }

  h3 {
    font-size: 2.2rem;
  }
}

.form {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 13rem;
  align-items: end;
  column-gap: 1rem;
  row-gap: 1.5rem;

  @include respond(phone-v-small) {
    grid-template-columns: 1fr;
  }

  h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    grid-column: 1 / -1;
  }

  &__group {
    display: grid;
    row-gap: 0.5rem;

    @include respond(phone-v-small) {
      grid-template-columns: 1fr 1fr;
    }

    label {
      color: var(--color-text-tertiary);
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: 0.5px;

      @include respond(tab-land-small) {
        font-size: 1.2rem;
      }
      @include respond(phone-small) {
        font-size: 1.4rem;
        align-self: center;
      }
    }
    input {
      font-family: inherit;
      background-color: var(--color-grey-1);
      outline: none;
      border: 2px solid var(--color-grey-4);
      width: 90%;
      padding: 0.5rem 1rem;
      font-size: 1.8rem;
      border-radius: 1rem;
      font-weight: 600;

      @include respond(phone-v-small) {
        width: 100%;
      }
    }
    input[type='number']::-webkit-inner-spin-button {
      opacity: 1;
    }
  }
  button {
    padding: 1.2rem 1.5rem;
    font-size: 1.6rem;

    @include respond(phone-small) {
      justify-self: center;
      padding: 1.25rem 3.5rem;
    }
  }

  //   button {
  //     position: absolute;
  //     bottom: 0;
  //     left: 50%;
  //     transform: translate(-50%, 50%);
  //   }
}
